---
layout: default
---

<div class="posts">
  <h1>-deep_learning-</h1>
  {% for post in site.categories.dl %}
    <article class="post">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    </article>
  {% for pdf in site.categories.dl %}
    <article class="pdf">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    </article>
  {% endfor %}
  <h1>-others-</h1>
  {% for post in site.categories.others %}
    <article class="post">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    </article>
  {% endfor %}
</div>
  
